#c1 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px height:100px;
    background-image: url('../img/X.png');
}

body {
    background-image: url('../img/Sand-back.jpg');
    background-size: cover;

}

.concha {
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.pedra {
    max-width: 120px;
    position: absolute;
    top: 60%;
    right: 10%;
    transform: translate(50%, -50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));

}

.coral {
    max-width: 100px;
    position: absolute;
    bottom: 20%;
    left: 40%;
    transform: translate(-50%, 50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}